.oneui.ecm.icn .ecmLoginPane .loginForm {
	background-size: 165px auto;
}

.ecmBanner .container img.productLogo, .ecmBanner .logo .logoImage img {
	height: 40px;
}

.pvrLayout .dijitTitlePane {
	border: 3px solid lightgrey;
	margin-bottom: 10px;
	border-radius: 3px;
}

.ecm.icn .ecmLoginPane{
	background: linear-gradient(#2d4d6b, #4595fd) !important;	
}

.oneui.ecm.iDirectDoc .ecmLoginPane .loginForm{
	background-size: 165px auto;
}

.personInfoUserImage{
	border-radius: 50%;
}

.personInfoBold {
	font-size: 17px;
	font-weight: bold;
	padding: 10px;
}

.personInfoBox {
    border-radius: 25px;
    cellpadding: 10px;
}

.personInfoRegular{
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}
