.oneui.ecm.icn .ecmLoginPane .loginForm {
	background-size: 165px auto;
}

.pvrLayout .dijitTitlePane {
	border: 3px solid lightgrey;
	margin-bottom: 10px;
	border-radius: 3px;
}

.icmCaseInfo{
	border: 3px solid lightgrey;
	margin-bottom: 10px;
	border-radius: 3px;	
}

.ecm.icn .ecmLoginPane{
	background: linear-gradient(#2d4d6b, #4595fd) !important;	
}

.ecm.icn .ecmLoginPane .loginBorder{
	border-radius: 10px;
}

.ecmLoginPane .title{
	color: #2d4d6b;
}
.ecmBanner .container img.productLogo, .ecmBanner .logo .logoImage img {
	height: 40px;
}

.ecm.icn .icmCaseInfoIconClass {
    background: url(/iDirectDocWidgets/idirectdoc/icm/custom/images/Person.png) no-repeat;
}

.oneui.ecm.iDirectDoc .ecmLoginPane .loginForm{
	background-size: 165px auto;
}

.pvrObjectTable.pvrObjectTable label{
	display: none;
}

.oneui .idxTitlePane .dijitTitlePaneTitle{
	background: linear-gradient(#ffffff, #b0c9f7);
}

.icmCaseInfoHoverLink{
	color: red;
}

.personInfoUserImage{
	border-radius: 50%;
}


.personInfoBold {
	font-size: 17px;
	font-weight: bold;
	padding: 10px;
}
.personInfoText{
	padding: 10px;
}

.personInfoBox {
    border-radius: 3px;
	border: 3px solid lightgrey;
	background: linear-gradient(#ffffff, #b0c9f7);
    cellpadding: 10px;
	width:100%;
}

.personInfoRegular{
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}
